* {
    background-color: rgb(221, 220, 220);
}
body {
    text-align: center;
    line-height: 1.3;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 500px;
    height: auto;
}

p.description {
    width: 50%;
    text-wrap: balance;
    display: inline-block;

}
ul.list,
ol.list {
    display: inline-block;
    text-align: left;
}
